@import '../../sass/colors';

.tooltip_wrapper {
  display: inline-block;
  position: relative;
  .tooltip {
    position: absolute;
    border-radius: 4px;
    top: -50px;
    left: 10px;
    transform: translate(50%, -50%);
    background: $gray;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    padding: 0.25rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    z-index: 1000;
    white-space: nowrap;

    p {
      font-family: 'Galano-Medium';
      font-size: 1rem;
      background: transparent;
      color: #fff;
    }
  }
}
